@CHARSET "UTF-8";
#mailform{
	min-height:400px;padding: 20px;
}
#mailform table {
	
	
}
#mailform table td{
	padding: 8px
	
}
.success{
	color: #468847;
	background-color: #DFF0D8;
	border-color: #D6E9C6;
}
.alert{
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	line-height: 3em;
	font-weight: bold;
}
.error{
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #EED3D7;
}